/* task 2: */

.heading {
  text-align: center;
}

.list-container {
  list-style: none;
  border: 1px solid black;
  background-color: lightgray;
}

.list-item {
  font-weight: bold;
  color: green;
}
